<div>
			<button class='circle' id="book"><i class="fas fa-book"></i></button></div>
      <div>
        <button class='circle' id="edit"><i class="fas fa-edit"></i></button>
        <button class="circle" id="world"><i class="fas fa-globe-europe"></i></button>
        <button class="circle" id="character"><i class="fas fa-users"></i></button>
        <button class="circle" id="magic"><i class="fas fa-hat-wizard"></i></button>
        <button class="circle" id="dictionary"><i class="fas fa-book-open"></i></button>
        <button class="circle" id="note"><i class="far fa-sticky-note"></i></button>
        <button class='circle' id="outline"><i class="fas fa-code-branch" style="transform: rotate(90deg); margin-top:5px; "></i></button>

        <button class="circle" id="feedback"><i class="fas fa-exchange-alt"></i></button>
        <button class="circle" id="print"><i class="fas fa-print"></i></button>
        <button class="circle" id="settings"><i class="fas fa-sliders-h"></i></button>
        <button class="circle" id="stats"><i class="fas fa-chart-line"></i></button>
      </div>
      <div>
			  <button class="circle" id="logout"><i class="fas fa-sign-out-alt"></i></button>
      </div>