app-book-menu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 300px;
  right: 0px;
  grid-template-rows: 35px auto 40px;
  z-index: 0;
}

app-dragon {
  background-color: rgb(141, 114, 96);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 310px;
  display: grid;
  grid-template-columns: 50% auto 40px;
  grid-template-rows: 100%;
  overflow: none;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.8);
  padding: 5px 5px 5px 0px;
  z-index: 1;
}