<div class = 'menu_title' id = 'test'>My Books</div>
    <div id='booklist'>
         <!-- <div class='booklist_item'>
            <a class='booklist_title'>Book Title</a>
            <i class="fas fa-chevron-down dropdown"></i>
          </div>
          <div class='booklist_MetaData'>
                <a class='MetaData_Item'><b>Genre: </b></a>
                <a class='MetaData_Item' contenteditable="true">Fantasy</a>
                <a class='MetaData_Item'><b>Length:</b></a>
                <a class='MetaData_Item' contenteditable="true">Short Story</a>
                <a class='MetaData_Item'><b>Perspective:</b></a>
                <a class='MetaData_Item' contenteditable="true">3rd person</a>
                <a class='MetaData_Item'><b>Audience:</b></a>
                <a class='MetaData_Item' contenteditable="true">Adult</a>
                <a class='MetaData_Title'><b>Tags</b></a>
                <div class='Taglist'>
                <a class='tag' contenteditable="true">Grimdark</a>
                <a class='tag' contenteditable="true">Funny</a>
                <a class='tag' contenteditable="true">LGBTQ+</a> 
                <a class='tag' contenteditable="true">Mystery</a>
                <br>
                </div>
                <div class='insertTag'>
                <a id='TagName' contenteditable="true" placeholder='Add Tag'></a>
                  <a id='addTag'><i class="fas fa-plus"></i></a>
                </div>
          </div>
          -->
    </div>
    <div class='addBook'>
      <a id='bookName' contenteditable="true" placeholder='Insert book title...'></a>
      <button class='circle' id='addBook'><i class="fas fa-plus"></i></button>
      </div>